
        <!-- Sidebar Start -->
        <!-- <div class="sidebar pe-4 pb-3">
          <nav class="navbar bg-secondary navbar-dark">
              <a  class="navbar-brand mx-4 mb-3">
                  <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
              </a>

              <div class="navbar-nav w-100 mt-5 pt-5">
                  <a class="nav-item nav-link active" routerLink="UpdateProfile"> <i class="fa fa-edit" aria-hidden="true"></i> edite your profile</a> -->

                  <!-- <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
                  <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a> -->
                  <!-- <a routerLink="ProfileProblems"  class="nav-item nav-link"><i class="fa fa-table me-2"></i>your problems</a>
                  <a routerLink="blocked-technical" class="nav-item nav-link"><i class="fa-solid fa-ban"></i> Blocked Techs</a>

              </div>
          </nav>
      </div>
      Sidebar End -->
      <div class="content m-0">
        <div class="container ">
          <div class="row align-items-center justify-content-start">

            <div class="col-md-3 d-flex align-items-center justify-content-start  ">
<div>
   <h2 class="text-dark">Setting</h2>
   <ul class="">
    <li>

      <a routerLinkActive="active"  routerLink="UpdateProfile"> <i class="fa fa-edit" aria-hidden="true"></i> edite your profile</a>
    </li>
    <li >
      <a routerLinkActive="active" routerLink="blocked-technical" ><i class="fa-solid fa-ban"></i> Blocked Technicans</a>

    </li>
  </ul>
</div>

            </div>
            <div class="col-md-9 ps-5 Router_Design">
              <router-outlet></router-outlet>
            </div>
          </div>


        </div>
        </div>
