.star{
color: yellow;
}
.Design_Add{
  color: rgb(186, 182, 182);
}
.Section_Tech{
  background-color:  rgb(173, 170, 170);
  border-radius: 20px;
color: white;
  width: fit-content;
}
.Design{
border-bottom:rgb(186, 182, 182) solid 1px ;
padding-bottom: 10px;
}
h4{
  font-weight: bolder;
}
a,span{
  text-decoration: none;
  color:rgb(44,168,0);
}
// .filter:checked {
//   /* Change the background color of the checkbox when it's checked */
//   background-color: rgb(44,168,0);
//   /* Change the checkmark color of the checkbox when it's checked */
//   border-color: #000;
// }
