.notification{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
}
.layer{
  width: 100%;
  height: 100%;
  position: relative;

}
.information{
  position: absolute;
  right: 30%;
  top: 30%;
  height: 40%;
  width: 40% ;
  background-color: beige;

}

.btns{

  bottom: 0;
  right: 0;
}
.btn_Py{
  background-color: rgb(20, 168, 3);
}
