.star{
  color: yellow;
}
.Add_Prob{
  position: fixed;
  bottom: 80px;
  right: 30px;
  background-color: rgb(44,168,0);
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;
}
.Add_Prob i{
  font-size: 20px;
  color: #f3eced;
}
.fa-arrow-trend-down{
  color: rgb(44,168,0);
  font-size: 40px;
  margin-left: 70px !important;
}
.Rule{
  position: fixed;
  bottom: 120px;
  right: 30px;
z-index: 999999999;
  padding: 15px;
  border-radius: 50%;
}
.DesignTime {
  color: rgb(164, 168, 162);
}
.Title_Design {
 transition: 0.5s all;
 color: black;
}

.Tech_Design{
background-color: rgb(44,168,0);
padding: 10px;
border-radius: 30px;
color: white !important;
}

a , span {
  text-decoration: none;
  color: rgb(44,168,0);
}
.Title_Design:hover{
  color: rgb(44,168,0);

}
@media (max-width: 991.98px) {
  .Add_Prob{
    position: fixed;
    bottom: 60px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
  }
  .fa-arrow-trend-down{
    color: #842029;
    font-size: 20px;
    margin-left: 70px !important;
  }
  .Rule{
    width: 200px;
    position: fixed;
    bottom: 105px;
    right: 30px;
  z-index: 999999999;
    padding: 10px;
    border-radius: 50%;
  }
}


