/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}
h1,h2,h3,h4,h5,h6{
  color: #fff;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.bg-secondary{
  background-color: #f7f7f9 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 100px;
    left: 90px;
    bottom: 20px;
    width: 230px;
    height: 80vh;
    overflow-y: auto;
   background-color: white;
    border: 1px rgb(212, 220, 210) solid;
    transition: 0.5s;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 3px 12px 9px 3px rgba(44, 168, 0, .1);
}

.content {

    margin-left: 350px;
    /* padding-top: 100px; */
    min-height: 100vh;

    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -350px;
    }

    /* .content {
        width: calc(100% - 250px);
    } */

   .open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
   .sidebar {
        margin-left: -350px;
    }

    .sidebar.open {
        margin-left: 0;
    }
    /*
    .sidebar {

      top: 100px;
      left: 20px;
      right: 20px;
       width: 95%;
      height: 30vh;
      overflow-y: auto;
     background-color: white;
      border: 1px rgb(212, 220, 210) solid;
      transition: 0.5s;
      z-index: 999;
  } */

    .content {

        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: #6C7293;
    font-weight: 500;
    border-left: 3px solid #191C24;
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sticky-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
}


.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: #EB1616;
    background: #000000;
    border-color: #EB1616;
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: #191C24;
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: #6C7293;
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: #f9f6f6;
}

 .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: #0e0e0e;
    outline: none;
}

 .navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgb(44,168,0);
}

.navbar .navbar-nav .nav-link:hover .nav-link i {

    border: 1px solid  rgb(44,168,0);
}

 .navbar .sidebar-toggler,
.navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 40px;
}



 .navbar .dropdown-item {
    color: #6C7293;
}

 .navbar ,
 .navbar .dropdown-item.active {
    background: #0b0b0b;

}

.navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: #EB1616 !important;
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color:#EB1616 !important;
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid #EB1616 !important;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: #EB1616 !important;
}
